<% provide(:title, "About") %>
<div id="content">
  <h1>SFYouRide</h1>
  <p>Are you are sick and tired of spending hours a day on unreliable and busy public transit? </p>
  <p>Are you tired of spending money on parking and gas?</p>
  <p> Then SFYouRide is the perfect app for you!</p>
    <p>
  SFYouRide is exclusive to SFU students and creates a safe environment to connect students for ride sharing. 
</p>
</div>
