<div id="content">
  <div id="describe_image">
    <%= image_tag("describe_image.png", :alt => "describe_image", :class =>"image-size") %>
  </div>
  <div id="signup_button">
    <%= link_to "Sign up now!", signup_path, class: "button button-glow button-rounded button-caution" %>
  </div>
</div>
