<div id="content">
  <div id="log_in">
    <iframe <%= root_path %> ></iframe>
  </div>
  <div id="images"  class="image3">
    <p>image</p>
  </div>
</div>
<div id="social">
  <h3>social media</h3>
</div>
