<footer class="footer">
  <small>
    <p>Car Pool App</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "ABOUT", about_path %></li>
    </ul>
  </nav>
</footer>
