// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* home page after login*/
#logged_in_btn{
	text-align:center;
  #left{
    margin-right: 30px;
  }
  #right{
    margin-left: 30px;
  }
}
