<% provide(:title, "Forgot password") %>
<div id="content">
  <div id="input_form">
    <div class="form">
    </br>
    <h2>Forgot Your Password?</h2>
  </br>
  <div class="input">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.email_field :email, placeholder:"Enter your e-mail" %>
      <%= f.submit "Reset Your Password", class: "button button-glow button-rounded button-raised button-primary" %>
    <%end %>
</div>
</div>
</div>
</div>
